<div class="container text-center">
  <h1>Fat Burger</h1>
  <div class="row">
    <div class="col-sm">
      <h3>Future Burgers</h3>
      {{!-- populates all burgers with a button --}}
      <div>
        {{#each burgers}}
        {{#unless eaten}}
        <div>
          <form class="eatenForm">
            <h5>Burger: {{this.burger}} <button type="submit" class="btn btn-danger eat_me" data-id="{{this.id}}">Eat
                Me!</button></h5>
          </form>
        </div>
        {{/unless}}
        {{/each}}
      </div>
    </div>
    {{!-- adds new burgers --}}
    <div class="col-sm">
      <h3>What's on your burger wish list?</h3>
      <form id="enterBurg" action="/api/burgers" method="POST">
        <textarea type="text" name="burger"></textarea>

        <button class="btn btn-danger" type="submit">Submit</button>
      </form>
    </div>
    <div class="col-sm">
      <h3>Burgers Eaten</h3>
      <div id="eatenSide">
        <div>
          {{#each burgers}}
          <div>
            {{#if eaten}}
            
            <h5>Burger: {{this.burger}} <button type="submit" class="btn btn-danger del_me" data-id="{{this.id}}">X</button></h5>
            
            {{/if}}

          </div>
          {{/each}}
        </div>
      </div>

    </div>
  </div>
</div>
</div>





<div>

</div>


<script type="text/javascript">



  //Eat me button 
  $(".eatenForm").on("submit", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();

    var burg_id = $(this).find(".eat_me").attr("data-id");
    console.log("burg::"+burg_id);

    $.ajax({
      method: "PUT",
      url: "/api/burgers/" + burg_id
    }).then(function (data) {
      location.reload();
    })
  });

  $(".del_me").on("click", function (event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();
    console.log(this);
    var del_id = $(this).attr("data-id");
   console.log("delid"+del_id)

    $.ajax({
      method: "DELETE",
      url: "/api/delete/" + del_id
    }).then(function (data) {
      location.reload();
    })
  });

</script>